*.js linguist-language=JavaScript
*.html linguist-language=html
*.css linguist-language=CascadingStyleSheets
*.ino linguist-language=C++
*.c linguist-language=C++
*.cpp linguist-language=C++
*.h linguist-language=C++